WIREGUARD_PRIVATE_KEY=<your-airvpn-wireguard-private-key>
WIREGUARD_PRESHARED_KEY=<your-airvpn-wireguard-preshared-key>
WIREGUARD_ADDRESSES=<your-airvpn-wireguard-addresses>
QBT_USERNAME=<your-qbittorrent-username>
QBT_PASSWORD=<your-qbittorrent-password>
